.page {
  height: 500px;
}

.page1 {
  position: relative;
  background-color: blue;
}

.layer_barrage {
  position: absolute;
  top: 10px;
}

.page2 {
  background-color: green;
}

.page3 {
  background-color: blue;
}

.page4 {
  background-color: yellow;
}